<!--DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/style.css">
  <a  href="/flights" >ALL FLIGHTS</a> <a href="/new">ADD FLIGHT</a>
  <title>Document</title>
</head>
<body>
  <table id="list">
    <thead>
      <tr>
        <h1>Flights Charts</h1>
      
        <tr>
          <td id="table">airline</td>
          <td id="table">airport</td>
          <td id="table">flightNo</td>
          <td id="table">departure</td>
          <td id="table"><input type="datetime-local" ></td>
        </tr>
    
      </tbody>
    </table>
</body>
</html>-->
<%- include('./partials/header') %>


<%- include('./partials/footer') %>
