body {
  padding: 50px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(107, 137, 171);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Keeps elements vertically stacked */
  min-height: 100vh;
  margin-top: -10vh;
}

h1 {

  display: flex;
  justify-content: center;
  align-items: center;
  
}
#table {
  font-size: 25px;
  padding: 20px;
 
}

a {

  display:inline-block;
  color:rgb(0, 255, 8);
  margin-top: 1vmin;
  
  

}
